# for intellij idea
.idea/*
*.iml

# for eclipse
.project
.settings/*
*/.settings/*
*/*/.settings/*
*/*/*/.settings/*
*/*/*/*/.settings/*
.classpath

# for maven
target/*
*/target/*
*/*/target/*
*/*/*/target/*
*/*/*/*/target/*
